    <configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
      <sitecore>
        <settings>
          <setting name="Login.DisableAutoComplete">
            <patch:attribute name="value">true</patch:attribute>
          </setting>
          <setting name="Login.DisableRememberMe">
            <patch:attribute name="value">true</patch:attribute>
          </setting>
          <setting name="Login.RememberLastLoggedInUserName">
            <patch:attribute name="value">false</patch:attribute>
          </setting>
        </settings>
      </sitecore>
    </configuration>