    <configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
      <sitecore>
        <settings>
          <setting name="Media.RequestProtection.SharedSecret">
            <patch:attribute name="value">your-implementation-custom-guid-here</patch:attribute>
          </setting>
        </settings>
      </sitecore>
      </configuration>